@media screen and (min-width:768px){
/* ヘッダー */
nav{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto 20px auto;
    max-width: 960px;
}
.nav-div{
  margin: 0 auto;
}
.nav-sub{
  margin: 0 20px;
}
nav>div>a{
  font-weight: bold;
  font-size: 34px;
  text-decoration: none;
}
.home{
  border: solid 1px black;
}
nav>div>a:link{color: black;}
nav>div>a:visited{color: black;}
nav>div>a:hover{
  color: black;
  text-decoration: underline;
}
nav>div>a:active{color: black;}
/* メイン */
.main-img{
  width: 100%;
}
h2{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
#profile{
  display: flex;
  margin: 10px 0;
  justify-content: center;
}
#about-img{
  height: 140px;
  width: 140px;
  border-radius: 70px;
}
#profile>div>h3{
  font-size: 24px;
  margin-top:0;
  margin-left: 30px;
}
#profile>div>ul{font-size: 18px;}
#main-works{
  display: flex;
  list-style: none;
  padding-inline-start: 0;
}
#main-works>li{
  width: 33%;
  margin: 10px;
  font-size: 18px;
}
.works-img{width: 100%;}
footer{
  text-align: center;
  font-size: 18px;
}
}
/* スマホ用 */
@media screen and (max-width:767px){
header{
  display: flex;
  width: 100%;
}
nav{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto 20px auto;
    max-width: 767px;
}
.nav-div{
  margin: 0 auto;
}
.nav-sub{
  margin: 0 20px;
}
nav>div>a{
  font-weight: bold;
  font-size: 34px;
  text-decoration: none;
}
.home{
  border: solid 1px black;
}
nav>div>a:link{color: black;}
nav>div>a:visited{color: black;}
nav>div>a:hover{
  color: black;
  text-decoration: underline;
}
nav>div>a:active{color: black;}
/* メイン */
#main-img{
  width: 100%;
  margin: 10px 0px;
}
h2{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
#profile{
  display: flex;
  margin: 10px 0;
  justify-content: center;
}
#about-img{
  height: 140px;
  width: 140px;
  border-radius: 70px;
}
#profile>div>h3{
  font-size: 24px;
  margin-top:0;
  margin-left: 30px;
}
#profile>div>ul{font-size: 18px;}
#main-works{
  list-style: none;
  padding-inline-start: 0;
  text-align: center;
}
#main-works>li{
  width: 100%;
  font-size: 18px;
}
.works-img{
  width: 100%;
}
footer{
  text-align: center;
  font-size: 18px;
}
}